<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Builder Layout 6</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<style>
    #body {
        background: #282828;
    }
</style>

<body>
    <div id="main-body" class="h-[100%]">
        <div class="w-[100%] h-full" id="body">
            <img src="https://images.unsplash.com/photo-1522542550221-31fd19575a2d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="m-[30px_auto] p-[30px] h-[70%] w-[70%]" id="img" style="margin: 30px auto;padding: 30px;">
            <h1 class="text-[16px] font-bold text-center text-slate-100 block mx-auto pt-[20px] focus:border-slate-100 w-full"
                id="heading" contenteditable="true">Business Ideas</h1>

            <p class="text-[12px] text-center text-slate-100 focus:border-slate-100 w-full" id="content"
                contenteditable="true">Add content</p>
        </div>
    </div>

</body>

</html>