
<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Output</title>
</head>
    
    <body>
        <div id="output">
            
        <div class="w-[100%] h-full" id="body" style="background-color: rgb(236, 121, 121);">
            <h1 class="text-[16px] font-bold text-center text-[#dbc1ac] block mx-auto pt-[20px] focus:border-slate-100 w-full" id="heading" contenteditable="true">Coffee Shop</h1>
            <img src="http://localhost:3000/api/v1/sendImage/133717322390334824.jpg" class="m-[30px_auto] h-[70%] w-[70%]" id="img" style="margin: 30px auto;">
            <p class="text-[12px] text-center text-[#dbc1ac] focus:border-slate-100 w-full" id="content" contenteditable="true">Your Address</p>
        </div>
    
        </div>
    </body>
    
    
    </html>
    
    