
<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Output</title>
</head>
    
    <body>
        <div id="output">
            
        <div class="bg-slate-800 w-[100%] h-full" id="body">
            <textarea class="text-[16px] bg-slate-800 font-bold text-center text-slate-100 block mx-auto pt-[20px] focus:border-slate-100 w-full" id="heading">Hello World</textarea>
            <img src="http://localhost:3000/api/v1/sendImage/133620529631711159.jpg" class="m-[30px_auto] h-[70%] w-[70%]" id="img">
            <textarea class="text-[12px] bg-slate-800 text-center text-slate-100 focus:border-slate-100 w-full" id="content">Enter your content here</textarea>
        </div>
    
        </div>
    </body>
    
    
    </html>
    
    