
<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Output</title>
</head>
    
    <body>
        <div id="output">
            
        <div class="bg-slate-800 w-[100%] h-full" id="body">
            <h1 class="text-[16px] bg-slate-800 font-bold text-center text-slate-100 block mx-auto pt-[20px] focus:border-slate-100 w-full" id="heading" contenteditable="true" style="font-family: Verdana; text-align: left; font-size: 32px;">Hello World</h1>
            <img src="https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?q=80&amp;w=1469&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="m-[30px_auto] h-[70%] w-[70%]" id="img" style="margin: 30px auto;">
            <p class="text-[12px] bg-slate-800 text-center text-slate-100 focus:border-slate-100 w-full" id="content" contenteditable="true" style="font-family: &quot;Times New Roman&quot;; text-align: center;">Enter your content here</p>
        </div>
    
        </div>
    </body>
    
    
    </html>
    
    